@use './variables' as *;


:root {
    @include fontFamily;
    line-height: 1.5;
    font-weight: $fw-300;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* -------------------- */
/* Reset                */
/* -------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Rest margins */
body,
h1,
h2
p {
    margin: 0;
}

h1,
h2
p {
    font-weight: 400;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    

    font-size: $fs-14;
    color: $lm-text;
    background-color: $lm-bg;
    
    min-height: 100vh;
    width: 100%;

    padding: 0;
    margin: 0;    
}

/* Make images easier to work with */
img,
picture {
    width: 100%;
    // height: 100%;
    height: auto;
}

/* make form elements easier */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    color: inherit;
}

/* remove animations for people who turn them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------- */
/* Utility classes      */
/* -------------------- */




@include flex(".d-flex");
@include flex-layout(".md");



.d-block {
    display: block;
}

/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line*/
    border: 0;
}

.skip-to-content {
    position: absolute;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: .5em 1em;
    margin-inline: auto;
    z-index: 500;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0%);
}


/* Colors */


.bg{

    &-white {
        background-color: $white;
    }
    &-light {
        background-color: $lm-bg;
    }

    &-dark {
        background-color: $dm-bg;
    }

    &-transparent {
        background-color: transparent;
    }
}


.debug {
    outline: 1px solid red;
}

// @media (prefers-color-scheme: light) {
//     :root {
//         color: #213547;
//         background-color: #ffffff;
//     }

//     a:hover {
//         color: #747bff;
//     }

//     button {
//         background-color: #f9f9f9;
//     }
// }



.container {
    width: $md-breakpoint;
    overflow: hidden;
    max-width: 100%;

    margin-inline: auto;

    padding-inline: 1rem;
    @include md {
        padding-inline: 2.5rem;
    }
}

.box-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.fw {
    &-300 {
        font-weight: 300;
    }
    &-600 {
        font-weight: 600;
    }
    &-800 {
        font-weight: 800;
    }
}

.fs {
    &-14 {
        font-size: 14px;
    }
    &-16 {
        font-size: 16px;
    }

    &-17 {
        font-size: 1.3rem;
    }

    @include md {
        &-md-14 {
            font-size: 14px;
        }
    
        &-md-16 {
            font-size: 16px;
        }
    
        &-md-17 {
            font-size: 1.3rem;
        }
    }
    @include sm {
        &-sm-14 {
            font-size: 14px;
        }
    
        &-sm-16 {
            font-size: 16px;
        }
    
        &-sm-17 {
            font-size: 1rem;
        }
    }
}


.pt {
    &-1 {
        padding-block: 1rem;
    }
}
.py {
    &-2 {
        padding-block: 2.3rem;
    }
}
.px {
    &-1 {
        padding-inline: 1rem;
    }
}

.btn {
    cursor: pointer;
}

.border-none {
    border: 0
}

.ml {
    &-07 {
        margin-left: .5rem;
    }
    &-1 {
        margin-left: 1rem;
    }
}
.mr {
    &-1 {
        margin-right: 1rem;
    }
    &-07 {
        margin-right: .5rem;
    }
}
.my {
    &-1 {
        margin-block: 1rem;
    }
    &-1-07 {
        margin-block: 1.5rem;
    }
    &-07 {
        margin-block: .5rem;
    }
}
.mx {
    &-1 {
        margin-inline: 1rem;
    }
    &-1-07 {
        margin-inline: 1.5rem;
    }
    &-07 {
        margin-inline: .5rem;
    }
}


ion-icon {
    font-size: 1rem;
}


.text {
    &-center {
        text-align: center;
    }
}

.search-group {
    background-color: $white;

    width: 24rem;

    max-width: 90%;
    height: 2.5rem;
    border-radius: .2rem;
    ion-icon {
        margin: 1rem;
    }
    input {
        font-family: inherit;
        padding-block: .4rem;
        width: 100%;

        color: inherit;

        &:focus{
            outline: none;
        }
    }
}

.x {
    
    
    @include xrem(row-gap, 4);
    @include xrem(column-gap, 3);

    @include sm {
        justify-content: center;
    }
    @include md {
        // justify-content:first baseline;
        gap: 5.65rem;
    }
    

}


article {
    width: 300px;
    max-width: 100%;
    border-radius: .3rem;
    overflow: hidden;
    
    .img {
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

    .details {
        padding: 1rem;
    }


    @include md {
        width: 275px;

        .img {
            height: 155px;
        }
    }
}

.bk-btn {
    
    width: 5rem;
    padding-block: .4rem;
}


.tags {
    
    // flex-direction: column;
    
    @include md {
        display: flex;
        flex-direction: row;
    }

    &>div {
        gap: .4rem;
    }
}
.tag {
    display: inline-block;
    padding: .2rem 1.5rem;
}


.info {
    display: flex;
    flex-direction: column;

    
    

    @include md {
        flex-direction: row;
        align-items: center;
        column-gap: 4rem;

    }

// background-color: red;
    .detail {
        display: flex;
        width: 500px;
        max-width: 100%;

        flex-direction: column;

        @include sm {
            row-gap: 1rem;
        }


        @include md {
            flex-direction: row;
            justify-content: space-between;
        }
        

    }
}

.img-large {
    height: 250px;
    
    width: 500px !important;

    position: relative;
    max-width: 100%;


    @include md {
        height: 400px;
    }

    // margin-inline: auto;
}